*{
  margin: 0;
  box-sizing: border-box;

  body {
    background-color: wheat;

    main {
      width:100%;
      height: 600px;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;

      .playarea {
        width: 304px;
        height: 304px;
        display: flex;
        flex-wrap: wrap;
        border: 2px solid grey;
        position: relative;


        .fieldsquare {
          width: 100px;
          height: 100px;
          border: 2px solid grey;
          font-size: 5em;
          padding-bottom: 18px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:active {
            border: 4px solid black;

          }
        }

        .horizontal {
          width: 280px;
          height: 4px;
          background-color: darkred;
          position: absolute;
          display: none;
        }


        .line0 {
          display: block;
          top: 48px;
          left: 10px;
        }

        .line1 {
          display: block;
          top: 148px;
          left: 10px;
        }

        .line2 {
          display: block;
          top: 248px;
          left: 10px;
        }

        .vertical {
          width: 4px;
          height: 280px;
          background-color: darkred;
          position: absolute;
          display: none;
        }

        .vline0 {
          display: block;
          top: 10px;
          left: 48px;
        }

        .vline1 {
          display: block;
          top: 10px;
          left: 148px;
          
        }

        .vline2 {
          display: block;
          top: 10px;
          left: 248px;
        }

        .diagonal {
          width: 4px;
          height: 350px;
          background-color: darkred;
          position: absolute;
          display: none;

        }

        .left{
          transform: rotate(-45deg);
          left: 150px;
          top: -25px;
          display: block;
        }

        .right{
          transform: rotate(45deg);
          left: 150px;
          top: -25px;
          display: block;
        }
      }

      .score {
        width: 100px;
        height: 100px;
        border: 2px solid grey;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5em;
      }

      .player1 {
        margin-right: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;

      }

      .player2 {
        margin-left: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      span {
        font-size: 3em;
      }
    }
  }
}