* {
  margin: 0;
  box-sizing: border-box;

  body {
    background-color: wheat;

    main {
      width: 100%;
      height: 600px;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;

      .playarea {
        width: 304px;
        height: 304px;
        display: flex;
        flex-wrap: wrap;
        border: 2px solid grey;
        position: relative;

        .fieldsquare {
          width: 100px;
          height: 100px;
          border: 2px solid grey;
          font-size: 5em;
          padding-bottom: 18px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:active {
            border: 4px solid black;

          }
        }

        .horizontal {
          width: 280px;
          height: 4px;
          background-color: darkred;
          position: absolute;
          display: none;
        }

        .line0 {
          display: block;
          top: 48px;
          left: 10px;
        }

        .line1 {
          display: block;
          top: 148px;
          left: 10px;
        }

        .line2 {
          display: block;
          top: 248px;
          left: 10px;
        }

        .vertical {
          width: 4px;
          height: 280px;
          background-color: darkred;
          position: absolute;
          display: none;
        }

        .vline0 {
          display: block;
          top: 10px;
          left: 48px;
        }

        .vline1 {
          display: block;
          top: 10px;
          left: 148px;

        }

        .vline2 {
          display: block;
          top: 10px;
          left: 248px;
        }

        .diagonal {
          width: 4px;
          height: 350px;
          background-color: darkred;
          position: absolute;
          display: none;

        }

        .left {
          transform: rotate(-45deg);
          left: 150px;
          top: -25px;
          display: block;
        }

        .right {
          transform: rotate(45deg);
          left: 150px;
          top: -25px;
          display: block;
        }
      }

      .score {
        width: 100px;
        height: 100px;
        border: 2px solid grey;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5em;
      }

      .player1 {
        margin-right: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;

      }

      .player2 {
        margin-left: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      span {
        font-size: 3em;
      }
      .winner{
        border: 2px solid #007bff;
      }
    }
    button {
      position: absolute;
      width: 200px;
      height: 50px;
      border-radius: 10px;
      background-color: #007bff;
      border-color: #007bff;
      color: #ffffff;
      font-size: 1.5em;
      top: 324px;
      left:50px;
    }
  }
  @media all and (max-width: 1010px) {
    main {
      min-width: 366px;
      width: 100%;
      height: 600px;
      position: relative;

      .playarea {
        width: 304px;
        height: 304px;
        display: flex;
        flex-wrap: wrap;
        border: 2px solid grey;
        position: relative;
        margin-top: 100px;
      }

      .player1 {
        position: absolute;
        top: 10px;
        left: 10px;
      }

      .player2 {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }

  @media all and (max-width: 372px) {
   body{
    main {
      span {
        font-size: 2.5em;
      }
    }
   }
  }
}
