@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Mali:700');
@import url('https://fonts.googleapis.com/css?family=Acme');
@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin hiddenLine {
  display: none;
  position: absolute;
  background-color: darkred;
}
@mixin playerScorePosition {
  display: flex;
  flex-direction: column;
  align-items: center;
}
* {
  margin: 0;
  box-sizing: border-box;

  body {
    background-color: #29ce9a;
    position: relative;

    h1 {
      position: absolute;
      top: 30px;
      width: 100%;
      text-align: center;
      font-size: 3em;
      font-family:'Acme', cursive;

      b {
        color: white;
      }
    }

    main {
      width: 100%;
      height: 600px;
      position: relative;
      @include centering;

      .playarea {
        width: 304px;
        height: 304px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        border: 2px solid #29ce9a;


        .fieldsquare {
          width: 100px;
          height: 100px;
          border: 2px solid #3d1811;
          font-size: 5em;
          padding-bottom: 18px;
          @include centering;
          font-family: 'Mali', cursive;
          color: #ffffff;
          &:nth-child(n + 2) {
            border-left: #29ce9a;
          }
          &:nth-child(n + 1) {
            border-top: #29ce9a;
          }
          &:nth-child(3n) {
            border-right: #29ce9a;
          }
          &:nth-child(10) {
             border-bottom: #29ce9a;
           }
          &:nth-child(11) {
            border-bottom: #29ce9a;
          }
          &:nth-child(12) {
             border-bottom: #29ce9a;
           }

          &:active {
            border: 4px solid black;
          }
        }

        .horizontal {
          width: 280px;
          height: 4px;
          @include hiddenLine;
        }

        .hline0 {
          display: block;
          top: 48px;
          left: 10px;
        }

        .hline1 {
          display: block;
          top: 148px;
          left: 10px;
        }

        .hline2 {
          display: block;
          top: 248px;
          left: 10px;
        }

        .vertical {
          width: 4px;
          height: 280px;
          @include hiddenLine;
        }

        .vline0 {
          display: block;
          top: 10px;
          left: 48px;
        }

        .vline1 {
          display: block;
          top: 10px;
          left: 148px;

        }

        .vline2 {
          display: block;
          top: 10px;
          left: 248px;
        }

        .diagonal {
          width: 4px;
          height: 350px;
          @include hiddenLine;
        }

        .dLine0 {
          transform: rotate(-45deg);
          left: 150px;
          top: -25px;
          display: block;
        }

        .dLine1 {
          transform: rotate(45deg);
          left: 150px;
          top: -25px;
          display: block;
        }
      }

      .score {
        width: 100px;
        height: 100px;
       @include centering;
        font-size: 5em;
        font-family:'Indie Flower', cursive;

      }

      .player1 {
        margin-right: 200px;
        @include playerScorePosition;
      }

      .player2 {
        margin-left: 200px;
        @include playerScorePosition;
      }

      span {
        font-size: 3em;
        font-family: 'Acme', sans-serif;
        border: 2px solid #29ce9a;
      }

      .turn{
        border-bottom: 2px solid #17369b;
      }

      .winner{
        color: #ffffff;
      }
    }

    button {
      position: absolute;
      width: 200px;
      height: 50px;
      border-radius: 10px;
      background-color: #15a578;
      color: #ffffff;
      font-size: 1.5em;
      top: 324px;
      left:50px;
      font-family: 'Indie Flower', cursive;
      border: 2px solid #054940;
      outline: none;
    }

    .display {
      display: block;
    }
  }


  @media all and (max-width: 1010px) {

    main {
      min-width: 366px;
      width: 100%;
      height: 600px;
      position: relative;

      .playarea {
        width: 304px;
        height: 304px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-top: 100px;
      }

      .player1 {
        position: absolute;
        top: 10px;
        left: 10px;
      }

      .player2 {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }

  @media all and (max-width: 650px) {
    body{
      h1 {
        top: 315px;
        opacity: 0.1;
      }
  }

  @media all and (max-width: 375px) {
    body{
      overflow: hidden;
    }
    main {
      height: 530px;
      .playarea {
      margin-top: 100px;
      }
      span {
        font-size: 1em;
      }
      button{
        top: 312px;
      }
    }
   }
  }
}
