@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Mali:700");
@import url("https://fonts.googleapis.com/css?family=Acme");
* {
  margin: 0;
  box-sizing: border-box; }
  * body {
    background-color: #29ce9a;
    position: relative; }
    * body h1 {
      position: absolute;
      top: 30px;
      width: 100%;
      text-align: center;
      font-size: 3em;
      font-family: 'Acme', cursive; }
      * body h1 b {
        color: white; }
    * body main {
      width: 100%;
      height: 600px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      * body main .playarea {
        width: 304px;
        height: 304px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        border: 2px solid #29ce9a; }
        * body main .playarea .fieldsquare {
          width: 100px;
          height: 100px;
          border: 2px solid #3d1811;
          font-size: 5em;
          padding-bottom: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'Mali', cursive;
          color: #ffffff; }
          * body main .playarea .fieldsquare:nth-child(n + 2) {
            border-left: #29ce9a; }
          * body main .playarea .fieldsquare:nth-child(n + 1) {
            border-top: #29ce9a; }
          * body main .playarea .fieldsquare:nth-child(3n) {
            border-right: #29ce9a; }
          * body main .playarea .fieldsquare:nth-child(10) {
            border-bottom: #29ce9a; }
          * body main .playarea .fieldsquare:nth-child(11) {
            border-bottom: #29ce9a; }
          * body main .playarea .fieldsquare:nth-child(12) {
            border-bottom: #29ce9a; }
        * body main .playarea .horizontal {
          width: 280px;
          height: 4px;
          display: none;
          position: absolute;
          background-color: darkred; }
        * body main .playarea .hline0 {
          display: block;
          top: 48px;
          left: 10px; }
        * body main .playarea .hline1 {
          display: block;
          top: 148px;
          left: 10px; }
        * body main .playarea .hline2 {
          display: block;
          top: 248px;
          left: 10px; }
        * body main .playarea .vertical {
          width: 4px;
          height: 280px;
          display: none;
          position: absolute;
          background-color: darkred; }
        * body main .playarea .vline0 {
          display: block;
          top: 10px;
          left: 48px; }
        * body main .playarea .vline1 {
          display: block;
          top: 10px;
          left: 148px; }
        * body main .playarea .vline2 {
          display: block;
          top: 10px;
          left: 248px; }
        * body main .playarea .diagonal {
          width: 4px;
          height: 350px;
          display: none;
          position: absolute;
          background-color: darkred; }
        * body main .playarea .dLine0 {
          transform: rotate(-45deg);
          left: 150px;
          top: -25px;
          display: block; }
        * body main .playarea .dLine1 {
          transform: rotate(45deg);
          left: 150px;
          top: -25px;
          display: block; }
      * body main .score {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5em;
        font-family: 'Indie Flower', cursive; }
      * body main .player1 {
        margin-right: 200px;
        display: flex;
        flex-direction: column;
        align-items: center; }
      * body main .player2 {
        margin-left: 200px;
        display: flex;
        flex-direction: column;
        align-items: center; }
      * body main span {
        font-size: 3em;
        font-family: 'Acme', sans-serif;
        border: 2px solid #29ce9a; }
      * body main .turn {
        border-bottom: 2px solid #17369b; }
      * body main .winner {
        color: #ffffff; }
    * body .reset-score {
      position: absolute;
      width: 200px;
      height: 50px;
      border-radius: 10px;
      background-color: #15a578;
      color: #ffffff;
      font-size: 1.5em;
      top: 324px;
      left: 50px;
      font-family: 'Indie Flower', cursive;
      border: 2px solid #054940;
      outline: none; }
      * body .reset-score:active {
        background: #054940; }
    * body .display {
      display: block; }
    * body .alert {
      width: 50%;
      height: 300px;
      background: rgba(21, 165, 120, 0.9);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid white;
      border-radius: 10px;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      * body .alert .game-info {
        font-size: 3em;
        font-family: 'Acme', sans-serif;
        text-align: center; }
      * body .alert .OK {
        margin-top: 20px;
        width: 200px;
        height: 50px;
        border-radius: 10px;
        background-color: #15a578;
        color: #ffffff;
        font-size: 1.5em;
        font-family: 'Indie Flower', cursive;
        border: 2px solid #054940;
        outline: none; }
        * body .alert .OK:active {
          background: #054940; }
    * body .name {
      width: 50%;
      height: 300px;
      background: rgba(21, 165, 120, 0.9);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid white;
      border-radius: 10px;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      * body .name .input {
        font-size: 3em;
        font-family: 'Acme', sans-serif;
        text-align: center; }
      * body .name [type=text] {
        margin-top: 10px;
        font-size: 2em;
        font-family: 'Acme', sans-serif;
        text-align: center;
        background: rgba(21, 165, 120, 0.1);
        border: none;
        border-bottom: 1px solid #3d1811;
        outline: none; }
      * body .name .done {
        margin-top: 20px;
        width: 200px;
        height: 50px;
        border-radius: 10px;
        background-color: #15a578;
        color: #ffffff;
        font-size: 1.5em;
        font-family: 'Indie Flower', cursive;
        border: 2px solid #054940;
        outline: none; }
        * body .name .done:active {
          background: #054940; }
    * body .active {
      display: flex; }
  @media all and (max-width: 1010px) {
    * body main {
      min-width: 366px;
      width: 100%;
      height: 600px;
      position: relative; }
      * body main .playarea {
        width: 304px;
        height: 304px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-top: 100px; }
      * body main .player1 {
        position: absolute;
        top: 10px;
        left: 10px; }
      * body main .player2 {
        position: absolute;
        top: 10px;
        right: 10px; }
    * body .name {
      min-width: 350px; } }
  @media all and (max-width: 650px) {
    * body h1 {
      top: 315px;
      opacity: 0.1; }
    * body .alert {
      min-width: 350px;
      height: 250px; }
    * body .name {
      min-width: 350px;
      height: 250px; } }
@media all and (max-width: 650px) and (max-width: 375px) {
  * body {
    overflow: hidden; }
  * main {
    height: 530px; }
    * main .playarea {
      margin-top: 100px; }
    * main span {
      font-size: 1em; }
    * main .reset-score {
      top: 312px; }
  * .alert {
    min-width: 350px;
    width: 80%; }
  * .name {
    min-width: 350px;
    width: 80%; } }

/*# sourceMappingURL=main.css.map */
